body{
    color: midnightblue;
    background-color: cornsilk;

}
h1 {
    color: midnightblue;
    margin-left: 15;
}

img {
    height:30vw;
    width:30vw;
}
#company-logo {
    height:20vw !important;
    width:20vw !important;
   
}



.dinos {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 2px solid black;
    height: 30px;
    width: 20%;
    text-align: center;
    margin-top: 10%;
    padding: 20px;
    border-radius: 20px;
    transform: rotate(20deg);
    text-transform: capitalize;

}

.dinos2 {
    border: 5px solid black;
    height: 30px;
    width: 20%;
    text-align: center;
    margin-top: 10%;
    padding: 15px;
    border-radius: 20px;
    transform: rotate(-20deg);
    transform-origin: right;
    text-align: right;
    font-style: italic;
}